body {
    background-color: darkturquoise;
    margin-left: 50px;
    font-size: x-large;
    width: 90%;
}

body.page-two {
    background-color: coral;
    width: 100%;
    margin-left: 30px;
}

.page-four {
    background-color: gold;
   
}

.page-five {
    background-color:skyblue
}

.page-six {
    background-color:yellow
}
li {
    margin: 10px 0;
}

.top {
    width: 90%;
    text-align: justify;
    font-size: x-large;
}

.column {
    float: left;
    width:35%;
    font-size: x-large;
    text-align: justify;
}

.row {
    font-size: large;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

.right {
    float: right;
    width: 62%;
}
